html{
    background-color: aliceblue;
}

.button{
    background-color: rgb(0, 136, 255);
    border: 2px solid rebeccapurple;
}




.top-panel{
    background-color: white;
    font-family: sans-serif;
    padding: 50px 500px;
    margin: 10px;
    position: absolute;
    top: 5px;
    left: 220px;
}

.title1{
    font-size: 36px;
    font-family: sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
}
select{
    background-color: rgb(245, 255, 252);
    border: 2px solid rgb(95, 255, 162);
    position: absolute;
    right: 50px;
    top: 70px;
}

.left-panel{
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 50px 30px;
    margin: 10px;
    position: absolute;
    top: 5px;
}
.square2{
    position: absolute;
    top: 30px;
}

.title3{
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: 0px;
    right: 10px;
}

.title2{
    font-size: 18px;
    font-family: sans-serif;
}

p{
    position: absolute;
    top: 50px;
}

.button-delete{
    background-color: rgb(201, 207, 212);
    border: 2px solid rgb(63, 63, 63);
    position: absolute;
    top: 150px;
    left: 0px;
}

.basket{
    position: absolute;
    width: 150px;
    top: 70px;
}